# Introduction to Pandas DataFrames

In [ ]:
import pandas as pd

In [ ]:
weather_data = {
'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
'temperature': [32,35,28,24,32,31],
'windspeed': [6,7,2,7,4,2],
'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}

### Display data (first, last, sample, column titles)

In [ ]:
df = pd.DataFrame(weather_data)

In [ ]:
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [ ]:
df.tail(3)

        day  temperature  windspeed  event
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
df.sample(3)

        day  temperature  windspeed  event
5  1/6/2017           31          2  Sunny
0  1/1/2017           32          6   Rain
2  1/3/2017           28          2   Snow

In [ ]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [ ]:
df.dtypes

day            object
temperature     int64
windspeed       int64
event          object
dtype: object

### Index (change,inplace,reset)

In [ ]:
df.set_index('day',inplace=True) #operation happens on the original copy of the dataframe

In [ ]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [ ]:
df.reset_index(inplace=True)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

### Selecting a subset of the DataFrame (one or multiple columns)

In [ ]:
df['temperature']

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [ ]:
df.temperature

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [ ]:
df[['temperature','event']]

   temperature  event
0           32   Rain
1           35  Sunny
2           28   Snow
3           24   Snow
4           32   Rain
5           31  Sunny

In [ ]:
dg = df.temperature
dg
#dg is a entirely new dataframe

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

### Info about the whole DataFrame (info, describe, value_counts)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          6 non-null      object
 1   temperature  6 non-null      int64
 2   windspeed    6 non-null      int64
 3   event        6 non-null      object
dtypes: int64(2), object(2)
memory usage: 320.0+ bytes

In [ ]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [ ]:
df['event'].value_counts()

Snow     2
Sunny    2
Rain     2
Name: event, dtype: int64

### Deleting columns (inplace True/False)

In [ ]:
df.drop('event',axis = 1)

        day  temperature  windspeed
0  1/1/2017           32          6
1  1/2/2017           35          7
2  1/3/2017           28          2
3  1/4/2017           24          7
4  1/5/2017           32          4
5  1/6/2017           31          2

In [ ]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny